body {
    background-color: #ECF2F8;
    font-family: "Manrope", sans-serif;
}

.article-component {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 730px;
    height: 280px;
    margin: auto;
    margin-top: 30vh;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.article-info {
    width: 365px;
    height: 216px;
    margin-left: 50px;
    margin-top: -20px;
}

.article-info h2 {
    font-size: 20px;
    font-weight: bold;
    color: #48556A;
}

.article-info p {
    font-size: 13px;
    font-weight: 500;
    color: #6E8098;
}

.articleImg img {
    width: 285px;
    height: 280px;
    margin-left: -30px;
    margin-top: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.author-details {
    display: flex;
    margin-top: 30px;
}

.michelle {
  width: 40px;
  height: 40px;
  border-radius: 50%;  
}

.author {
    margin-left: 20px;
}

.author h4 {
    font-size: 13px;
    font-weight: bold;
    color: #48556A;
    margin-top: 2px;
}

.author p {
    font-size: 13px;
    font-weight: 500;
    color: #9DAEC2;
    margin-top: -15px;
}

.author-details button {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background-color: #ECF2F8;
    margin-left: 120px;
    cursor: pointer;
}

.share-component {
    display: flex;
    align-items: center;
    width: 248px;
    height: 67px;
    background-color: #48556A;
    border-radius: 15px;
    position: absolute;
    top: 350px;
    left: 850px;
}

.share-component h2 {
    font-size: 13px;
    font-weight: 500;
    color: #9DAEC2;
    margin-left: 30px;
    letter-spacing: 5px;
}

.share-btn {
    width: 92px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}

.share-btn img {
    width: 20px;
    height: 20px;
}

